* {
    box-sizing: border-box;
    margin: 0;
}
body {
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
}
.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.left {
    background-color:#0d0f12;
    width: 734.4px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.right {
    background-color: black;
    background-image: url("bg-gtm-2020.png");
    background-position: right center;
    background-size: contain;
    background-repeat: no-repeat;
    flex-grow: 1;
}


input, label {
    display: block;
}
label {
    color:white;
}

.links > a {
    display: block;
    text-decoration: none;
}

.logo {
    text-align: center;
}
button .help {
    position: fixed;
    bottom: 12px;
    left: 17px;
    z-index: 100;
    background: transparent;
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
}

.wrapper {
    width: 440.63px;
}

input, button {
    width: 100%;
}

form {
    line-height: 24px;
    font-size: 14px;
    font-weight: 400;
}